<header class="jumbotron subhead" id="overview">
	<h1>Listing <%= class_name.pluralize %></h1>
</header>


<div class="row">
	<div class="span8">
		<br />

		<c:forEach items="${<%=model_parameter_name%>List}" var="<%=model_parameter_name%>">
    <div class="row">
      <div class="span8">
        <div class="well">

          <%- @attributes.each do |att| -%>
            <div class="content-body">
              <%= att.html_label %>: <%= "${#{model_parameter_name}.#{att.name}}" %><br />
            </div>
          <%- end -%>
          <br />

          <div class="controls admin" ng:show="app.admin()">
            <a href="<%= path "/${#{model_parameter_name}.id}" %>" class="btn">show</a>
            <a href="<%= path "/${#{model_parameter_name}.id}/edit" %>" class="btn">edit</a>
            <form action="<%= path "/${#{model_parameter_name}.id}" %>" method="post" id=<%= "${#{model_parameter_name}.id}" %>>
              <a ng:click="return confirm('Delete <%= "${#{model_parameter_name}.id}" %> ?')" class="btn">destroy</a>
              <input type="hidden" name="_method" value="delete" />
            </form>
          </div>

        </div>
      </div>
    </div>
		</c:forEach>

    <div class="row">
      <div class="span8">
        <div class="well">
          <a href="<%= path '/new' %>">New <%= class_name %></a>
        </div>
      </div>
    </div>

  </div>
</div>
