<head>
  <script src="<%="/javascripts/#{class_name}.js"%>"></script>
  <script src="<%="/javascripts/#{controller_class_name}.js"%>"></script>
</head>

<header class="jumbotron subhead" id="overview">
	<h1>Listing <%=model_parameter_name.pluralize%></h1>
</header>

<script>
  <%=model_list_name%> = [];
  var list = ${json};
  for(var i=0; i < list.length; i++) {
    <%=model_list_name%>.push(new <%= class_name %>(list[i]));
  }
</script>

<div class="row" ng-controller="<%=controller_class_name%>">
	<div class="span8">
		<br />

    <div class="row" ng-repeat="<%=model_parameter_name%> in <%=model_list_name%>">
      <div class="span8">
        <div class="well">

          <%- @attributes.each do |att| -%>
            <div class="content-body">
              <%=att.html_label%>: {{<%=model_parameter_name%>.<%=att.name%>}}
              <br />
            </div>
          <%- end -%>
          <br />

          <div class="controls admin">
            <form action="{{<%=model_parameter_name%>.location}}" method="post" id="<%="${#{model_parameter_name}.id}"%>">
              <a href="{{<%=model_parameter_name%>.location}}" class="btn">show</a>
              <a href="{{<%=model_parameter_name%>.edit}}" class="btn">edit</a>
              <button type="submit" onclick="return confirm('Are you sure?')" class="btn">destroy</a>
              <input type="hidden" name="_method" value="delete" />
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="span8">
        <div class="well">
          <a href="<%= path '/new' %>" class="btn btn-primary">New <%= class_name %></a>
        </div>
      </div>
    </div>

  </div>
</div>
